* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #06141b;
    font-family: Arial;
    display: flex;
    padding: 10px;
    min-height: 100vh;
    margin: 0;
}

.sidebar {
    width: 100px;
    height: calc(100vh - 20px);
    background-color: #11212d;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    flex-direction: column;
    
    transition: 0.3s ease;
}

.sidebar:hover {
    width: 300px;
    transition: 0.3s ease;
}

.sidebar .sidebar-title {
    display: flex;
    align-items: center;
    width: 300px;
    position: absolute;
}

.sidebar .sidebar-title img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px;
}

.sidebar .sidebar-title h1 {
    flex: 1;
    color: #f7f6f2;
    text-align: center;
}

.sidebar .menu-panel {
    margin-top: 100px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #253745 transparent;
}

.sidebar .menu-panel a {
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #253745;
    margin-top: 10px;

    color: #ccd0cf;
    text-align: left;
    font-size: 18px;
    font-weight: 600;

    transition: 0.2s ease;
    text-decoration: none;
}

.sidebar .menu-panel a:hover {
    background-color: #4a5c6a;
    
    transition: 0.2s ease;
}

.sidebar .menu-panel a img {
    width: 50px;
    height: 50px;
    margin: 25px;
}

.sidebar .menu-panel label {
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #253745;
    cursor: pointer;
    margin-top: 10px;

    color: #ccd0cf;
    text-align: left;
    font-size: 18px;
    font-weight: 600;

    transition: 0.2s ease;
    text-decoration: none;
}

.sidebar .menu-panel label:hover {
    background-color: #4a5c6a;
    
    transition: 0.2s ease;
}

.sidebar .menu-panel label img {
    width: 50px;
    height: 50px;
    margin: 25px;
}

.sidebar .menu-panel .submenu {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.2s ease;
}

.sidebar .menu-panel .submenu img {
    width: 30px;
    height: 30px;
    margin: 35px;
}

.sidebar .menu-panel .submenu a {
    height: 40px;
    color: #ccd0cf;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
}

.sidebar .menu-panel input:checked~.submenu {
    height: calc(40px * 3);

    transition: 0.2s ease;
}

.content-panel {
    margin-left: 110px;
    width: 100%;
    height: calc(100vh - 20px);
    background-color: #5a6170;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
    overflow-y: auto;
}

@media screen and (max-height: 200px) {
    .sidebar .sidebar-title {
        display: none;
    }

    .sidebar .menu-panel {
        margin-top: 0px;
    }
}