body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/admin-login-thumbnail.jpg");
    background-size: cover;
}

.home-link {
    position: absolute;
    top: 12px;
    left: 12px;
    transition: 0.3s;
}

.home-link img {
    filter: invert(95%);
    width: 25px;
    height: 25px;
    transition: 0.2s ease;
}

.home-link img:hover {
    transition: 0.3s ease;
    filter: invert(65%);
}

.login-container{
    width: 500px;
    min-width: 300px;
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.title {
    text-align: center;
    font-size: 250%;
    font-weight: bolder;
    margin-top: 50px;
}

.login-container .login-hr-bar {
    width: 30%;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: black;
    transition: 0.3s;
}

.login-container:hover .login-hr-bar {
    width: 60%;
    transition: 0.3s;
}

.login-container .login-form-label {
    display: block;
    margin-bottom: 10px;
    margin-inline: 25px;
    font-weight: bold;
    font-size: 20px;
}

.login-container .text-input-container {
    position: relative;
}

.login-container .text-input-container img {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 7px;
    left: 27px;
    transition: 0.3s;
    
    filter: invert(30%);
}

.login-container .login-text-input {
    width: calc(100% - 40px);
    height: 35px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(240, 240, 240);
    padding-left: 35px;

    transition: 0.3s;
}

.login-container .login-text-input:focus ~ img {
    left: 25px;
    transition: 0.3s;

    filter: invert(0%);
}

.login-container .login-text-input:focus {
    width: calc(100% - 35px);
    transition: 0.3s;
}

.login-container .login-submit-button {
    width: 80%;
    height: 40px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    background-color: rgb(41, 41, 41);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    transition: 0.3s;

    margin-top: 35px;
    margin-bottom: 25px;
}

.login-container .login-submit-button:hover {
    background-color: rgb(70, 70, 70);
    transition: 0.3s;
}