.content-panel .add-panel {
    background: #11212d;
    border-radius: 8px;
    padding-block: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-panel .add-panel .title {
    background-color: #00000070;
    color: #f7f6f2;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 0 0 5px black;
    text-align: center;
    margin-inline: 5px;
    border-radius: 8px 8px 0 0;
    padding: 10px;
}

.content-panel .add-panel form {
    background-color: #f5f5f5;
    margin-inline: 5px;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

.content-panel .add-panel form .input-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.content-panel .add-panel form .input-section label {
    width: 400px;
    font-size: 18px;
}

.content-panel .add-panel form .input-section input {
    width: 400px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.content-panel .add-panel form .input-section select {
    width: 400px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.content-panel .add-panel form .input-section .product-image-container {
    position: relative;
    display: flex;
    width: 400px;
}

.content-panel .add-panel form .input-section .product-image-container .virtual-container {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.content-panel .add-panel form .input-section .product-image-container .product-image {
    width: 100px;
    height: 100px;
    transition: ease 0.2s;
}

.content-panel .add-panel form .input-section .product-image-container .change-product-image-icon {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 30px;
    height: 30px;

    filter: invert(100%);
    opacity: 0;
    transition: ease 0.2s;
}

.content-panel .add-panel form .input-section .product-image-container .virtual-container:hover .product-image {
    filter: brightness(25%);
    transition: ease 0.2s;
}

.content-panel .add-panel form .input-section .product-image-container .virtual-container:hover .change-product-image-icon {
    opacity: 1;
    transition: ease 0.2s;
}

.content-panel .add-panel .buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.content-panel .add-panel .buttons .button {
    height: 30px;
    width: 100px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-weight: 550;
    transition: ease 0.2s;
    text-decoration: none;
    color: black;
}

.content-panel .add-panel .buttons .button:hover {
    filter: brightness(50%);
    transition: ease 0.2s;
}

.content-panel .add-panel .buttons .cancel {
    background-color: gray;
}

.content-panel .add-panel .buttons .disabled {
    background-color: rgb(86, 86, 86);
    cursor: not-allowed;
}

.content-panel .add-panel .buttons .disabled:hover {
    filter: none;
}

.content-panel .add-panel .buttons .add {
    background-color: #33b249;
}

.content-panel .add-panel .buttons .edit {
    background-color: #efcc00;
}

.content-panel .add-panel .buttons .processed {
    background-color: #3498db;
}

.content-panel .add-panel .buttons .delivered {
    background-color: #27ae60;
}

.content-panel .add-panel .buttons .cancelled {
    background-color: #e74c3c;
}

.content-panel .add-panel .order-detail {
    background: white;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-inline: 5px;

    overflow-x: auto;
}

.content-panel .add-panel .order-detail h3 {
    margin-bottom: 10px;
    color: #333;
}

.content-panel .add-panel .order-detail .order-info {
    margin-bottom: 10px;
    line-height: 1.8;
}

.content-panel .add-panel .order-detail table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow-x: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-panel .add-panel .order-detail th,
.content-panel .add-panel .order-detail td {
    text-align: center;
    padding: 12px;
}

.content-panel .add-panel .order-detail th {
    background-color: black;
    color: white;
}

.content-panel .add-panel .order-detail tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content-panel .add-panel .order-detail tbody tr:hover {
    background-color: #dcdde1;
    transition: 0.2s;
}